@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  @apply bg-background-dark font-display text-white selection:bg-primary/30;
}

@layer utilities {
  .paper-texture {
    background-color: #ffffff;
    background-image: radial-gradient(#e5e7eb 1px, transparent 0);
    background-size: 20px 20px;
  }

  .inner-glow {
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.05);
  }

  .card-border-premium {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}